* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #80683c7a;
    background-image: url("../img/background.jpg");
    background-size: 100%;
    background-blend-mode: color-burn;
}

@font-face {
    font-family: 'Tarkov';
    src: url('../fonts/bender.regular.otf');
}

@font-face {
    font-family: 'Tarkov Black';
    src: url('../fonts/bender.black.otf');
}

h2 {
    font-size: x-large;
    font-family: 'Tarkov Black';
}

header {
    display: flex;
    background-color: #311e00;
    #img {
        margin: 2% 10%;
        width: 20%;
        img {
            width: 100%;
        }
    }
    #menu {
        width: 60%;
        display: block;
        ul {
            margin: 5% 0;
            width: 100%;
            li {
                cursor: pointer;
                display: inline;
                color: #9A8866;
                h2 {
                    margin: 0 15px;
                    display: inline;
                }
            }
        }
    }
}

#content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    >div {
        width: 97%;
        margin: 1.5%;
        a {
            color: #6d4403;
            text-decoration: none;
        }
    }
    div {
        text-decoration: none;
        text-align: center;
        img {
            max-width: 70%;
        }
    }
}

@media only screen and (min-width: 426px) {
    #content {
        >div {
            width: 48%;
            margin: 1%;
        }
    }
}

@media only screen and (min-width: 992px) {
    #content {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        >div {
            width: 22%;
            margin: 1.5%;
        }
        div {
            text-decoration: none;
            img {
                max-width: 70%;
            }
        }
    }
}