* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: #80683c7a;
  background-image: url("https://i.redd.it/hezod11b5s361.png");
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-position: center;
}

img {
  width: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #92918f10;
}

header #img {
  width: 100%;
  text-align: center;
}

header #img img {
  width: 40%;
}

header #menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

header #menu ul {
  margin: 5% 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header #menu ul li {
  width: 100%;
  padding: 0 20px;
  cursor: pointer;
  display: inline;
  color: #ffffff;
}

header #menu ul li h2 {
  display: inline;
  font-size: x-large;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

@font-face {
  font-family: 'Tarkov';
  src: url("../fonts/bender.regular.otf");
}

@font-face {
  font-family: 'Tarkov Black';
  src: url("../fonts/bender.black.otf");
}

h2 {
  font-size: x-large;
  font-family: 'Tarkov Black';
}

.header {
  background-color: #1a140b42;
}

header:hover {
  background-color: #92918f4b;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#content > h3 {
  text-align: justify;
  width: 100%;
  margin: 10% 30%;
  padding-top: 50px;
  font-size: xx-large;
  color: #6d4403;
}

#content > div {
  width: 97%;
  margin: 1.5%;
}

#content > div a {
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: 'Tarkov Black';
  text-decoration: none;
}

#content div {
  text-decoration: none;
  text-align: center;
}

#content div img {
  max-width: 50%;
}

@media only screen and (min-width: 426px) {
  #content img {
    max-width: 50%;
  }
  #content > div {
    width: 48%;
    margin: 1%;
  }
  header #menu ul {
    margin: 0 0 5% 0;
  }
  #detalle1 #info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #detalle1 #info > div {
    font-family: 'Tarkov Black';
    font-size: xx-large;
    font-style: normal;
    margin: 2% 10%;
    width: 30%;
    margin-bottom: 30px;
    text-align: center;
  }
  #detalle1 #info #img {
    margin: 0;
    width: 33%;
  }
  #detalle1 #info #img img {
    width: 30%;
  }
  #detalle1 #info #name {
    text-align: center;
    margin: 3% 0;
    width: 100%;
    font-family: 'Tarkov Black';
    font-size: xx-large;
    font-style: normal;
  }
  #detalle1 #info #weigth {
    margin: 0;
    width: 33%;
    text-align: center;
    margin-top: 2%;
  }
  #detalle1 #info #material {
    margin: 0;
    width: 33%;
    margin-top: 2%;
  }
  #detalle1 #info .zone {
    margin: 0;
    width: 33%;
    margin-top: 2%;
  }
}

@media only screen and (min-width: 992px) {
  #content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #content > div {
    width: 22%;
    margin: 1.5%;
  }
  #content div {
    text-decoration: none;
  }
  #content div img {
    max-width: 70%;
  }
  #detalle1 #info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #detalle1 #info > div {
    font-family: 'Tarkov Black';
    font-size: xx-large;
    font-style: normal;
    margin: 2% 10%;
    width: 30%;
    margin-bottom: 30px;
    text-align: center;
  }
  #detalle1 #info #img {
    margin: 0;
    width: 33%;
  }
  #detalle1 #info #name {
    text-align: center;
    margin: 3% 0;
    width: 100%;
    font-family: 'Tarkov Black';
    font-size: xx-large;
    font-style: normal;
  }
  #detalle1 #info #weigth {
    margin: 0;
    width: 33%;
    text-align: center;
    margin-top: 2%;
  }
  #detalle1 #info #material {
    margin: 0;
    width: 33%;
    margin-top: 2%;
  }
  #detalle1 #info .zone {
    margin: 0;
    width: 33%;
    margin-top: 2%;
  }
  header #img {
    margin-left: 5%;
    width: 15%;
  }
  header #img img {
    width: 100%;
  }
  header #menu {
    width: 80%;
    display: block;
  }
  header #menu ul {
    display: block;
    margin: 5% 0;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */