* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #80683c7a;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-blend-mode: darken;
}

@font-face {
    font-family: 'Tarkov';
    src: url('../fonts/bender.regular.otf');
}

@font-face {
    font-family: 'Tarkov Black';
    src: url('../fonts/bender.black.otf');
}

h2 {
    font-size: x-large;
    font-family: 'Tarkov Black';
}

header {
    display: flex;
    background-color: #92918f10;
    #img {
        margin-left: 5%;
        width: 15%;
        img {
            width: 100%;
        }
    }
    #menu {
        width: 80%;
        display: block;
        text-align: center;
        ul {
            margin: 5% 0;
            width: 100%;
            li {
                padding: 0 20px;
                cursor: pointer;
                display: inline;
                color: #ffffff;
                h2 {
                    display: inline;
                    font-size: x-large;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: #000;
                }
            }
        }
    }
}

.header {
    background-color: #1a140b42;
}

header:hover {
    background-color: #92918f4b;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    >h3 {
        text-align: justify;
        width: 100%;
        margin: 10% 30%;
        padding-top: 50px;
        font-size: xx-large;
        color: #6d4403;
    }
    >div {
        width: 97%;
        margin: 1.5%;
        a {
            color: #000;
            font-family: 'Tarkov Black';
            text-decoration: none;
        }
    }
    div {
        text-decoration: none;
        text-align: center;
        img {
            max-width: 70%;
        }
    }
}

@media only screen and (min-width: 426px) {
    #content {
        >div {
            width: 48%;
            margin: 1%;
        }
    }
}

@media only screen and (min-width: 992px) {
    #content {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        >div {
            width: 22%;
            margin: 1.5%;
        }
        div {
            text-decoration: none;
            img {
                max-width: 70%;
            }
        }
    }
    #detalle1 {
        #info {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            >div {
                font-family: 'Tarkov Black';
                font-size: xx-large;
                font-style: normal;
                margin: 2% 10%;
                width: 30%;
                margin-bottom: 30px;
                text-align: center;
            }
            #img {
                margin: 0;
                width: 33%;
            }
            #name {
                text-align: center;
                margin: 3% 0;
                width: 100%;
                font-family: 'Tarkov Black';
                font-size: xx-large;
                font-style: normal;
            }
            #weigth {
                margin: 0;
                width: 33%;
                text-align: center;
                margin-top: 2%;
            }
            #material {
                margin: 0;
                width: 33%;
                margin-top: 2%;
            }
        }
        header {
            width: 100%;
            display: flex;
            background-color: #a99d86bb;
            align-items: center;
            #img {
                margin: 0;
                width: 100%;
                text-align: center;
                img {
                    width: 15%;
                }
            }
            div:hover {
                background-color: #5c5b5b46;
            }
        }
    }
}