* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: #80683c7a;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

@font-face {
  font-family: 'Tarkov';
  src: url("../fonts/bender.regular.otf");
}

@font-face {
  font-family: 'Tarkov Black';
  src: url("../fonts/bender.black.otf");
}

h2 {
  font-size: x-large;
  font-family: 'Tarkov Black';
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #92918f10;
}

header #img {
  margin-left: 2%;
  width: 15%;
}

header #img img {
  width: 100%;
}

header #menu {
  width: auto;
  display: block;
}

header #menu ul {
  margin: 5% 5%;
  width: 100%;
}

header #menu ul li {
  padding: 0 10px;
  cursor: pointer;
  display: inline;
  color: #ffffff;
}

header #menu ul li h2 {
  margin: 0 15px;
  display: inline;
  font-size: xx-large;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

header:hover {
  background-color: #92918f4b;
}

#detalle1 header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #584e3a;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#detalle1 header #img {
  width: 100%;
  text-align: center;
}

#detalle1 header #img img {
  width: 20%;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#content > h3 {
  text-align: justify;
  width: 100%;
  margin: 10% 30%;
  padding-top: 50px;
  font-size: xx-large;
  color: #6d4403;
}

#content > div {
  width: 97%;
  margin: 1.5%;
}

#content > div a {
  color: #6d4403;
  text-decoration: none;
}

#content div {
  text-decoration: none;
  text-align: center;
}

#content div img {
  max-width: 70%;
}

@media only screen and (min-width: 426px) {
  #content > div {
    width: 48%;
    margin: 1%;
  }
}

@media only screen and (min-width: 992px) {
  #content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #content > div {
    width: 22%;
    margin: 1.5%;
  }
  #content div {
    text-decoration: none;
  }
  #content div img {
    max-width: 70%;
  }
  #info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #info > div {
    margin-left: 20%;
    margin-bottom: 30px;
  }
  #info #name {
    margin-top: 3%;
    width: 20%;
    font-size: xx-large;
    font-style: normal;
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */